extends ./layout.pug

block content
  .card
    .card-body.p-5.bg-light
      .display-4 Привет от Хекслета!
      p.lead Практические курсы по программированию
      hr
      a.btn.btn-primary.btn-lg(href="https://hexlet.io") Узнать больше